.time-convertion-hide {
  display: none !important;
}

tool-tip {
  position: fixed;
  z-index: 9999;

  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 8px;
}
